body {
  background-color: #2E2E2E;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 40px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input-field {
  padding-left: 10px;
  margin: 7.5px;
  border-radius: 3px;
  width: 200px;
  height: 30px;
  background-color: white;
  color: #222;
  outline: none;
  border: none;
}

.alcohol-forms-wrapper {
  padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.button-thing {
  padding-right: 10px;
  padding-left: 10px;
  margin: 7.5px;
  border-radius: 3px;
  width: 210px;
  height: 30px;
  background-color: #22AAFE;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}